@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.page1 {
  height: 900px;
  background-image: url("./Img/p1background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  animation: change 20s infinite ease-in-out;
}
@keyframes change {
  0% {
    background-image: url(./Img/p1background2.JPG);
  }
  33% {
    background-image: url(./Img/p1background4.JPG);
  }
  66% {
    background-image: url(./Img/p1background.JPG);
  }
  100% {
    background-image: url(./Img/p1background2.JPG);
  }
}
.page1 .header_container {
  height: 105px;
  display: flex;
  justify-content: space-around;
}
.page1 .header_container .logo_container img {
  height: 100%;
  filter: invert(100%);
}
.page1 .header_container .nav_container {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page1 .header_container .nav_container ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.page1 .header_container .nav_container ul li {
  margin: 10px;
  transition: 0.5s ease-in-out;
}
.page1 .header_container .nav_container ul li a {
  color: white;
}
.page1 .header_container .nav_container ul li:hover {
  transform: translateY(-5px);
}
.page1 .content_container {
  height: 795px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, minmax(auto, 80px));
}
.page1 .content_container .content {
  grid-column: 6/span 4;
  grid-row: 3/span 4;
  padding: 30px;
  color: white;
  font-size: 16px;
}
.page1 .content_container .content .header {
  font-size: 100px;
}
.page1 .content_container .content .button_container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}
.page1 .content_container .content .button_container a {
  color: white;
  border: 0;
  padding: 15px;
  text-align: center;
  width: 125px;
  transition: 0.5s ease-in-out;
  font-size: 16px;
  font-weight: 500;
}
.page1 .content_container .content .button_container a.product {
  background-color: #E6BF83;
}
.page1 .content_container .content .button_container a.shop {
  margin-left: 30px;
  background-color: black;
}
.page1 .content_container .content .button_container a:hover {
  cursor: pointer;
  width: 150px;
  border: solid black 1.5px;
  color: black;
  background-color: white;
}

@media screen and (max-width: 900px) {
  .page1 .nav_container a {
    font-size: 18px;
  }
  .page1 .content_container .content {
    grid-column: 3/span 6;
    grid-row: 3/span 5;
  }
  .page1 .content_container .content .header {
    font-size: 45px;
  }
  .page1 .content_container .content p {
    font-size: 14px;
  }
  .page1 .content_container .content .button_container .product, .page1 .content_container .content .button_container .shop {
    font-size: 14px;
  }
}
.page2 {
  height: 700px;
  overflow: hidden;
  position: relative;
}
.page2::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(./Img/coconut.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(40%);
  z-index: -1;
}
.page2 .background-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.page2 .background-wrapper .leftContent {
  width: 450px;
}
.page2 .background-wrapper .leftContent .wrapper {
  width: 100%;
  padding: 100px 15px 100px;
  font-size: 24px;
}
.page2 .background-wrapper .leftContent .wrapper * {
  animation-duration: 2s;
  animation-name: slideIn;
  animation-timing-function: ease-out;
}
@keyframes slideIn {
  from {
    margin-top: 300%;
  }
  to {
    margin-top: 0%;
  }
}
.page2 .background-wrapper .leftContent .wrapper .subHeader {
  margin: 0 0 -5px;
  color: #E6BF83;
}
.page2 .background-wrapper .leftContent .wrapper .header {
  font-size: 60px;
  line-height: 62px;
  margin: 0 0 10px;
  color: white;
}
.page2 .background-wrapper .leftContent .wrapper p {
  line-height: 36px;
  color: white;
}
.page2 .background-wrapper .leftContent .wrapper button {
  padding: 10px;
  border: 0;
  margin-top: 30px;
}
.page2 .background-wrapper .leftContent .wrapper button:hover {
  cursor: pointer;
}
.page2 .background-wrapper .openingHour {
  width: 450px;
}
.page2 .background-wrapper .openingHour .wrapper {
  width: 100%;
  padding: 100px 15px 100px;
  color: white;
  animation-duration: 3s;
  animation-name: showUp;
  animation-timing-function: ease-in-out;
}
@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page2 .background-wrapper .openingHour .wrapper .header {
  font-size: 30px;
  margin-bottom: 40px;
}
.page2 .background-wrapper .openingHour .wrapper ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 24px;
  font-weight: 600;
}
.page2 .background-wrapper .openingHour .wrapper ul li {
  height: 36px;
  margin-bottom: 10px;
}
.page2 .background-wrapper .openingHour .wrapper ul li span {
  color: #E6BF83;
}
.page2 .background-wrapper .rightImg {
  width: 450px;
}
.page2 .background-wrapper .rightImg .wrapper {
  width: 100%;
  padding: 100px 15px 100px;
}
.page2 .background-wrapper .rightImg .wrapper img {
  width: 80%;
  animation-duration: 2s;
  animation-name: imgSlideIn;
  animation-timing-function: ease-in-out;
}
@keyframes imgSlideIn {
  from {
    margin-left: 300%;
  }
  to {
    margin-left: 0%;
  }
}

.page3 {
  height: 900px;
  padding-top: 0;
  position: relative;
}
.page3::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  content: "";
  background-image: url(./Img/wood-texture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(70%);
}
.page3 .wrapper {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  position: relative;
}
.page3 .wrapper::before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  content: "";
  background-image: url(./Img/Melb/tram.png), url(./Img/Melb/tower.png), url(./Img/Melb/sky_wheel.png), url(./Img/Melb/vic_lib.png), url(./Img/Melb/beach_houses.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left bottom, left top, right bottom, right top, bottom center;
  background-size: 200px, 200px, 200px, 200px, 200px;
  filter: invert(100%);
}
.page3 .wrapper .product_title .header, .page3 .wrapper .product_title .subHeader {
  text-align: center;
}
.page3 .wrapper .product_title .header::first-letter, .page3 .wrapper .product_title .subHeader::first-letter {
  text-transform: capitalize;
}
.page3 .wrapper .product_title .header {
  font-size: 60px;
  color: white;
}
.page3 .wrapper .product_title .subHeader {
  font-size: 24px;
  color: #E6BF83;
}
.page3 .wrapper .product_menu {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 80px 0;
}
.page3 .wrapper .product_menu .categoryList_container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3 .wrapper .product_menu .categoryList_container .categoryItem {
  margin: 20px;
}
.page3 .wrapper .product_menu .pre-btn, .page3 .wrapper .product_menu .nxt-btn {
  border: none;
  width: 3vw;
  height: 10%;
  position: absolute;
  top: 45%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  z-index: 10;
}
.page3 .wrapper .product_menu .pre-btn:hover img, .page3 .wrapper .product_menu .nxt-btn:hover img {
  opacity: 1;
}
.page3 .wrapper .product_menu .pre-btn img, .page3 .wrapper .product_menu .nxt-btn img {
  cursor: pointer;
  opacity: 0.2;
  transition: 1s;
}
.page3 .wrapper .product_menu .pre-btn {
  left: 2vw;
  transform: rotate(180deg);
}
.page3 .wrapper .product_menu .nxt-btn {
  right: 2vw;
}
.page3 .wrapper .product_menu .productCardList_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 475px;
  padding: 25px;
  background-color: white;
  margin-right: 10px;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard:last-child {
  margin-right: 0;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard .productItemImg_container {
  width: 250px;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard .productItemImg_container img {
  width: 100%;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard .header {
  text-align: center;
  font-size: 24px;
  margin: 0 0 14px;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard .productItemInfo {
  text-align: center;
  font-size: 14px;
  margin: 0 0 5px;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard .price {
  font-size: 24px;
  margin: 0 0 10px;
  font-weight: 700;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard button {
  border: 0;
  padding: 10px 20px;
  background-color: #E6BF83;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.page3 .wrapper .product_menu .productCardList_container .productItemCard button:hover {
  background-color: black;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 900px) {
  .page3 .wrapper::before {
    content: "";
    background-size: 150px, 150px, 150px, 150px, 150px;
  }
  .page3 .wrapper .product_title .header {
    font-size: 30px;
  }
  .page3 .wrapper .product_title .subHeader {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .page3 .wrapper::before {
    content: "";
    background-image: url(./Img/Melb/tram.png), url(./Img/Melb/vic_lib.png), url(./Img/Melb/sky_wheel.png);
    background-position: left 85%, center bottom, right 85%;
    background-size: 150px, 150px, 150px;
  }
  .page3 .wrapper .product_title .header {
    font-size: 30px;
  }
  .page3 .wrapper .product_title .subHeader {
    font-size: 16px;
  }
}
.footer {
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: wheat;
}
.footer .shopInfo {
  width: 450px;
}
.footer .shopInfo .wrapper {
  width: 100%;
  padding: 50px 15px 100px;
}
.footer .shopInfo .wrapper .logo_container img {
  width: 225px;
}
.footer .explore {
  width: 450px;
}
.footer .explore .wrapper {
  width: 100%;
  padding: 50px 15px 100px;
}
.footer .explore .wrapper .header {
  margin-top: 0;
  font-size: 30px;
  margin-bottom: 60px;
}
.footer .explore .wrapper .exploreList ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}
.footer .explore .wrapper .exploreList ul li {
  width: 200px;
  position: relative;
  margin: 10px 0;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.footer .explore .wrapper .exploreList ul li a {
  font-size: 18px;
  font-weight: 900px;
  transition: 0.5s ease-in-out;
  color: white;
}
.footer .explore .wrapper .exploreList ul li a:hover {
  color: #FF7F2B;
}
.footer .explore .wrapper .exploreList ul li::before {
  content: "";
  position: absolute;
  top: 1.3em;
  left: 0.6em;
  border-color: black;
  border-style: solid;
  border-width: 0 0.15em 0.15em 0;
  height: 0.5em;
  width: 0.5em;
  margin-top: -1em;
  transform: rotate(-45deg);
}
.footer .contactUs {
  width: 450px;
}
.footer .contactUs .wrapper {
  width: 100%;
  padding: 50px 15px 100px;
}
.footer .contactUs .wrapper .header {
  font-size: 30px;
  margin: 0 0 60px;
}
.footer .contactUs .wrapper .contactList ul {
  list-style: none;
  padding-left: 0;
}
.footer .contactUs .wrapper .contactList ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: white;
}
.footer .contactUs .wrapper .contactList ul li img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 30px 60px;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
