
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$page1-height: 900px;
$page1-header-height: 105px;
$page1-content-height: $page1-height - $page1-header-height;

$addressing-color: #FF7F2B;
$background-color: #D2D0C9;
$text-color: #4A4947;

$page-topBottom-padding: 30px;
$page-leftRight-padding:58px;

$page2-subComp-width: 450px;
$footer-subComp-width: 450px;

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Kanit',sans-serif;
}

html, body{
    // padding: 0px;
    // margin: 0px;

    width: 100vw;
    height: 100vh;
}

// make sure all scroll-behaviour (including hyperlink jump) is smooth
html{
    scroll-behavior: smooth;
}

// 'page margin' for each section
section{
    padding: 30px 60px;
    
}


a{
    text-decoration: none;
}


// -------------------------------------------------------------
.page1{
    height: $page1-height;
    //padding: 0 $page-topBottom-padding $page-leftRight-padding;

    background-image: url('./Img/p1background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    animation: change 10s infinite ease-in-out;
    @keyframes change {
        0%{
            background-image: url(./Img/p1background2.JPG);
        }
        33%{
            background-image: url(./Img/p1background3.JPG);
        }
        66%{
            background-image: url(./Img/p1background.JPG);
        }
        100%{
            background-image: url(./Img/p1background2.JPG);
        }
    }

    .header_container{
        height: $page1-header-height;

        // background-color: orange;
        
        display: flex;
        justify-content: space-around;

        .logo_container{
            img{
                height: 100%;
            }
        }
        .nav_container{
            text-decoration: none;
            // TODO: font
            font-size: 20px;
            font-weight: 600;

            display: flex;
            justify-content: center;
            align-items: center;

            ul{
                display: flex;
                justify-content: space-evenly;
                
                list-style-type: none;      // cancel bullet point
                li{
                    margin: 10px;
                    a{
                        color: whitesmoke;
                    }
                }
            }
        }
    }

    .content_container{
        height: $page1-content-height;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, minmax(auto, 80px));

        //background-color: aqua;
    
        .content{
            grid-column: 6 / span 4;
            grid-row: 3 / span 4;

            padding: 30px;

            color: whitesmoke;

            font-size: 16px;

            .header{
                font-size:100px;
            }

            .button_container{
                margin-top: 30px;

                display: flex;
                justify-content: flex-start;

                
                a{
                    color: white;
                    border: 0;
                    padding: 15px;
                    text-align: center;
                    width: 125px;

                    transition: 0.5s ease-in-out;

                    &.product{                  
                        background-color: $addressing-color;
                        
                    }
                    &.shop{
                        margin-left: 30px;
                        background-color: $background-color;
                    }

                    &:hover{
                        cursor: pointer;

                        width:150px;
                        
                    }

                }
            }
        }

    }
}

// --------------------------------------------------------------


.page2{
    height: 700px;
    //padding: $page-topBottom-padding $page-leftRight-padding;

    background-color: blue;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    .leftContent{
        background-color: #D2D0C9;
        width: $page2-subComp-width;

        .wrapper{
            width: 100%;
            padding: 100px 15px 100px;
            
            font-size: 24px;

            *{
                animation-duration: 2s;
                animation-name: slideIn;
                animation-timing-function: ease-out;
            }

            @keyframes slideIn {
                from {
                  margin-top: 300%;
                  //width: 300%;
                }
              
                to {
                  margin-top: 0%;
                  //width: 100%;
                }
            }
            
    
            .subHeader{
                margin: 0 0 -5px;
            }

            .header{
                font-size: 60px;
                line-height: 62px;
                margin: 0 0 10px;
            }

            p{
                line-height: 36px;
            }

            button{
                padding: 10px;
                border: 0;
                margin-top: 30px;

                &:hover{
                    cursor: pointer;
                }
            }

        }
    }

    .openingHour{
        background-color: #FF7F2B;
        width: $page2-subComp-width;


        .wrapper{
            width: 100%;
            padding: 100px 15px 100px;

            color: whitesmoke;

            animation-duration: 3s;
            animation-name: showUp;
            animation-timing-function: ease-in-out;

            @keyframes showUp {
                from {
                  opacity: 0;
                  //width: 300%;
                }
              
                to {
                  opacity: 1;
                  //width: 100%;
                }
            }

            .header{
                font-size: 30px;
                margin-bottom: 40px;
            }

            ul{
                list-style-type: none;      // cancel bullet point
                padding-left: 0;

                font-size: 24px;

                li{
                    height: 36px;
                    margin-bottom: 10px;

                    span{
                        color: black;  
                    }
                }

            }
        }

    }
    .rightImg{
        background-color: skyblue;
        width: $page2-subComp-width;

        .wrapper{
            width: 100%;
            padding: 100px 15px 100px;
            img{
                width: 100%;

                animation-duration: 2s;
                animation-name:imgSlideIn;
                animation-timing-function: ease-in-out;
            }

            @keyframes imgSlideIn {
                from{
                    margin-left: 300%;
                }

                to{
                    margin-left:0%;
                }
            }
        }
    }
}

// ---------------------------------------------------------------
.page3{
    height: 900px;
    //padding: $page-topBottom-padding $page-leftRight-padding;

    background-color: greenyellow;

    .wrapper{
        width: 100%;
        height: 100%;

        position: relative;
        // invert background-image color
        // https://stackoverflow.com/questions/23428133/how-to-invert-colors-in-background-image-of-a-html-element
        &::before{
            width: 100%;
            height: 100%;
            position: absolute;
            left:0;

            content:"";
            background-image: url(./Img/Melb/tram.png), url(./Img/Melb/tower.png), url(./Img/Melb/sky_wheel.png), url(./Img/Melb/vic_lib.png), url(./Img/Melb/beach_houses.png);
            background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
            background-position: left bottom, left top, right bottom, right top, bottom center;
            background-size: 200px, 200px, 200px, 200px, 200px;
            filter: invert(100%);
        }

        
    }

    .product_title{
        
        .header, .subHeader{
            text-align: center;
            &::first-letter{
                text-transform: capitalize;
            }
        }

        .header{
            font-size: 60px;
        }

        .subHeader{
            font-size: 24px;
            
        }
    }

    .product_menu{
        position: relative;

        display: flex;
        flex-direction: column;
        
        padding: 50px 80px 0;

        .categoryList_container{
            width: 100%;
            height: 100px;

            display: flex;
            justify-content: center;
            align-items: center;

            .categoryItem{
                margin: 20px;
            }
        }

        .pre-btn, .nxt-btn{
            border:none;

            width: 3vw;
            height: 10%;

            position: absolute;
            top:45%;

            // 0deg = to top, increasing degree means rotate clockwise from it
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);

            z-index: 10;
            // when hover on button, modify img
            &:hover img{
                opacity: 1;
            }

            img{
                cursor: pointer;
                opacity: 0.2;

                transition: 1s;
            }
        }

        .pre-btn{
            left: 2vw;
            transform: rotate(180deg);
        }

        .nxt-btn{
            right:2vw;
        }

        .productCardList_container{
            display: flex;
            justify-content: space-between;      // spreads cards evenly 
            align-items: center;

            overflow: hidden;
            scroll-behavior: smooth;  

            .productItemCard{
                position: relative;
                
                display: flex;
                flex-direction: column;
                
                align-items: center;

                width: 300px;
                height: 475px;
                padding: 25px;

                background-color: whitesmoke;

                margin-right:10px;
                &:last-child{
                    margin-right: 0;
                }

                // TODO: 如何讲img_container与button居中?
                // TODO: note <button> is inline-level element

                .productItemImg_container{
                    width: 250px;
                    img{
                        width: 100%
                    }
                    
                }
                .header{
                    text-align: center;

                    font-size:24px;
                    margin: 0 0 14px;
                }
                .productItemInfo{
                    text-align: center;

                    font-size:14px;
                    margin: 0 0 5px;
                }

                .price{
                    font-size:24px;
                    margin:0 0 10px;
                    font-weight: 700;
                }

                button{
                    border: 0;
                    padding: 10px 20px;

                    background-color: $background-color;
                    color: whitesmoke;

                    font-size: 14px;
                    font-weight: 600;

                    &:hover{
                        background-color: #FF7F2B;
                        transition: 0.5s ease-in-out;
                    }
                }

            }
        }

    }
}


// ---------------------------------------------------------------
.footer{
    height: 250px;
    //padding: $page-topBottom-padding $page-leftRight-padding;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .shopInfo{
        background-color: aqua;
        width: $footer-subComp-width;
        .wrapper{
            width: 100%;
            padding: 50px 15px 100px;
            .logo_container{
                
                img{
                    width: 350px;
                }
            }
        }
    }

    .explore{
        background-color: greenyellow;
        width: $footer-subComp-width;
        .wrapper{
            width: 100%;
            padding: 50px 15px 100px;

            .header{
                margin-top: 0;
                font-size:30px;
                margin-bottom: 60px;;
            }

            .exploreList ul{
                list-style: none;
                padding-left:0;

                //display: flex;
                display:flex;
                justify-content: space-around;
                
                li{
                    width: 200px;
                    position: relative;
                    margin: 10px 0;
                    padding-left: 30px;

                    display: flex;
                    align-items: center;

                    a{
                        font-size: 18px;
                        font-weight:900px;

                        transition: 0.5s ease-in-out;

                        color: white;
                        &:hover{
                            color: $addressing-color;
                        }
                    }
                    

                    // TODO: does pseudo element occupies content? or box?
                    &::before{
                        content: "";
                        //color: red;

                        position: absolute;
                        top: 1.3em;
                        left: 0.6em;

                        border-color: black;
                        border-style: solid;
                        border-width: 0 0.15em 0.15em 0;

                        height: 0.5em;
                        width: 0.5em;
                        margin-top: -1em;

                        transform: rotate(-45deg);
                    }
                }


            }
        }
    }

    .contactUs{
        background-color: aqua;
        width: $footer-subComp-width;
        .wrapper{
            width: 100%;
            padding: 50px 15px 100px;

            .header{
                font-size: 30px;
                margin: 0 0 60px;

            }

            .contactList ul{
                list-style: none;
                padding-left: 0;

                // how to fit in icon image??
                li{
                    margin: 10px 0;

                    display: flex;
                    align-items: center;

                    font-size: 18px;
                    color: whitesmoke;

                    img{
                        width: 16px;
                        height: 16px;

                        margin-right: 10px;

                        
                    }

                }
            }
        }
    }
}

