$page1-height: 900px;
$page1-header-height: 105px;
$page1-content-height: $page1-height - $page1-header-height;

$addressing-color: #FF7F2B;
$background-color: #D2D0C9;     
$text-color: #4A4947;           // text and img

$wooden: #E6BF83;

$page-topBottom-padding: 30px;
$page-leftRight-padding:58px;

$page2-subComp-width: 450px;
$footer-subComp-width: 450px;