@import "globalVar";



.page2{
    height: 700px;
    //padding: $page-topBottom-padding $page-leftRight-padding;
    overflow: hidden;
    //background-color: black;

    position: relative;

    &::before{ 
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;

        content:"";
        background-image: url(./Img/coconut.jpg);
        background-size: cover;
        
        background-repeat: no-repeat;

        // filter: blur(1.5px);
        //filter: grayscale(100%);
        filter: invert(40%);

        z-index: -1;

    }

    // .overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
      
    //     width: 100%;
    //     height: 100%;
      
    //     background: grey;
    //     mix-blend-mode: overlay;
    // }
    

    .background-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-between;

        // page2: left 
        .leftContent{
            //background-color: #D2D0C9;
            width: $page2-subComp-width;
    
            .wrapper{
                width: 100%;
                padding: 100px 15px 100px;
                
                font-size: 24px;
    
                *{
                    animation-duration: 2s;
                    animation-name: slideIn;
                    animation-timing-function: ease-out;
                }
    
                @keyframes slideIn {
                    from {
                      margin-top: 300%;
                      //width: 300%;
                    }
                  
                    to {
                      margin-top: 0%;
                      //width: 100%;
                    }
                }
                
        
                .subHeader{
                    margin: 0 0 -5px;
                    color: $wooden;
                }
    
                .header{
                    font-size: 60px;
                    line-height: 62px;
                    margin: 0 0 10px;

                    color: $background-color;
                }
    
                p{
                    line-height: 36px;

                    color: $background-color;
                }
    
                button{
                    padding: 10px;
                    border: 0;
                    margin-top: 30px;
    
                    &:hover{
                        cursor: pointer;
                    }
                }
    
            }
        }
        
        // page2: middle
        .openingHour{
            //background-color: #FF7F2B;
            width: $page2-subComp-width;
    
    
            .wrapper{
                width: 100%;
                padding: 100px 15px 100px;
    
                color: $background-color;
    
                animation-duration: 3s;
                animation-name: showUp;
                animation-timing-function: ease-in-out;
    
                @keyframes showUp {
                    from {
                      opacity: 0;
                      //width: 300%;
                    }
                  
                    to {
                      opacity: 1;
                      //width: 100%;
                    }
                }
    
                .header{
                    font-size: 30px;
                    margin-bottom: 40px;
                }
    
                ul{
                    list-style-type: none;      // cancel bullet point
                    padding-left: 0;
    
                    font-size: 24px;
                    font-weight: 600;
    
                    li{
                        height: 36px;
                        margin-bottom: 10px;
    
                        span{
                            color:  $wooden;  
                        }
                    }
    
                }
            }
    
        }

        // page2: right
        .rightImg{
            //background-color: skyblue;
            width: $page2-subComp-width;
    
            .wrapper{
                width: 100%;
                padding: 100px 15px 100px;
                img{
                    width: 80%;
    
                    animation-duration: 2s;
                    animation-name:imgSlideIn;
                    animation-timing-function: ease-in-out;
                }
    
                @keyframes imgSlideIn {
                    from{
                        margin-left: 300%;
                    }
    
                    to{
                        margin-left:0%;
                    }
                }
            }
        }
        
    }
    
}

@media screen and (max-width: 900px){



}

@media screen and (max-width: 600px){



}